.demosRtc{
    padding: 100px 20px 100px 20px;
    
}

.comunicacion{
    justify-content: center;
    .row {
              align-items: center;
    }
    img{
        width: 400px;
        display: block;
        margin: 10px auto;
    }
}