.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

// Efecto Imagenes header de media query
@media (max-width: 768px) {
  .imagen1 {
    display: none;
  }
}
@media (max-width: 768px) {
  #home {
    padding-top: 10px;
  }
}
